version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - .:/workspace:cached
      - node_modules:/workspace/node_modules
    command: sleep infinity
    ports:
      - "3000:3000"
    environment:
      NEXT_TELEMETRY_DISABLED: "1"

volumes:
  node_modules:
